/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

/* .info {
  
  width: 200px;
  height: 100px;
  padding: 1em;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  border-radius: 5px;
  display: none;
} */
.swal-wide{
  width:950px !important;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.swal2-popup{
  width: 90%!important;
  border-radius:5em !important;
}

.swal2-title {
	margin-bottom:0px !important;
}

.swal2-header {
  margin-top: 190px!important;
}

.swal2-input{
  font-family: 'FS PFBeauSansPro';
  border: 1px solid #808080!important;
  background-color: #f1f1f1!important;
  font-size: 32px!important;
  color: #000!important;
  max-width: 90% !important;
}

.swal2-validation-message {
  font-family: 'FS PFBeauSansPro';
  color: red!important;
  font-size: 27px!important;
  font-weight: 400!important;
  background-color: #fff!important;
}

.title{
  font-family: 'FS PFBeauSansPro';
  font-weight:bold; 
  font-size: 60px !important;
}

input{
  padding: 5px 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.phone{
  border: 1px solid #808080;
  background-color: #f1f1f1;
  color: #000;
  height: 75px!important;
  width: 70%!important;
}

.btnSubmit{
  padding: 5px 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: none;
  background: red;
  color: #fff;
  cursor: pointer;
  margin-bottom: 45px;
}

.mt-5{
  margin-top: 20px;
}

.text-center{
  text-align: center;
}

.font{
  font-family: 'FS PFBeauSansPro';
}

.font-size{
  font-size: 42px;
}

.text-bold{
  font-weight: bold;
}

.font-size-27{
  margin-top: 20px;
  font-size: 27pt;
}

.image{
  background-repeat: no-repeat!important;
  position: fixed!important;
  top: -20%!important;
  left: 17%!important;
  z-index: 1080!important;
}

.image-lost {
  background-repeat: no-repeat!important;
  position: fixed!important;
  left: 40%!important;
  top: 11%!important;
  z-index: 1080!important;
}

.swal2-styled.swal2-confirm {
  font-family: 'FS PFBeauSansPro'!important;
  padding: 5px 20px!important;
  border-radius: 20px!important;
  -moz-border-radius: 20px!important;
  -webkit-border-radius: 20px!important;
  font-size: 3em !important;
	padding: 20px 60px !important;
	margin: 40px auto;
}

.swal2-input.phone{
	height: 2.5em !important;
    width: 80% !important;
    text-align: center;
    font-size: 3em !important;
    font-weight: 600;
	margin: 1em auto 0.5em auto;
}

.swal2-icon.swal2-success{
	font-size: 1.8em;
}

.icon-fullscreen{
  position: fixed!important;
  top: 2%!important;
  right: 3%!important;
  z-index: 99!important;
  color: #fff;
}

.icon-fullscreen:hover{
  background-color: #f1f1f1;
  color: #fff;
  opacity: 0.5;
}
